<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("HoMM Head Krab!", "Index", "Home", null, new { @class = "brand" })
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        @*<li>@Html.ActionLink("Home", "Index", "Home")</li>*@
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                    @Html.Partial("_LoginPartial")                   
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="hidden btn-group-vertical pull-left span1" id="user-side-menu-small">
                <a class="btn" href="#"><span class="icon-home"></span> <span class="badge"></span></a>
                <a class="btn" href="#"><span class="icon-user"></span> <span class="badge"></span></a>
                <a class="btn" href="#"><span class="icon-comment"></span> <span class="badge"></span></a>
                <a class="btn" href="#"><span class="icon-star"></span> <span class="badge"></span></a>
                <a class="btn" href="#"><span class="icon-bullhorn"></span> <span class="badge"></span></a>
            </div>
            <div class=" span2 well" id="user-side-menu-well">
                <ul class="nav nav-pills nav-stacked" id="user-side-menu-ul">
                    <li><a href="/">Home Page</a></li>
                    <li><a href="#">Friends <span class="badge pull-right">4</span></a></li>
                    <li><a href="/Home/MessageView">Messages <span class="badge pull-right">4</span></a></li>
                    <li><a href="/Home/GroupView">Groups <span class="badge pull-right">4</span></a></li>
                    <li><a href="#">News <span class="badge pull-right">4</span></a></li>

                </ul>
            </div>

            @RenderBody()

        </div>

        <hr/>
        <footer>
            
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
